@charset "UTF-8";

body {
	background-color: black;
}

.navegador1 {
	background-color: black;
}

.section {
	display: flex;
	height: 430px;
}

.section .imagen {
	width: 0px;
	flex-grow: 1;
	object-fit: cover;
	opacity: .8;
	transition: .5s ease;

}

.section .imagen:hover {
	cursor: crosshair;
	width: 300px;
	opacity: 1;
	filter: contrast(120%);
}

.carousel{
	opacity: .6;
}

.carousel:hover{
	opacity: 1;
	filter: drop-shadow(5px 5px 20px white);
}


.difuminado{
	opacity: .7;
}

.difuminado:hover{
	opacity: .8;
	box-shadow: (5px 5px 20px white);
}

.final{
	color: white;
}

.menu{
	width: 20px;
}

.tamaño{
	width: 400px;
}