@charset "UTF-8";

body {
	background-color: black;
}

.navegador1 {
	background-color: black;
}

.section {
	display: flex;
	height: 430px;
}

.section .imagen {
	width: 0px;
	flex-grow: 1;
	object-fit: cover;
	opacity: .8;
	transition: .5s ease;

}

.section .imagen:hover {
	cursor: crosshair;
	width: 300px;
	opacity: 1;
	filter: contrast(120%);
}

.carousel {
	opacity: .6;
}

.carousel:hover {
	opacity: 1;
	filter: drop-shadow(5px 5px 20px white);
}


.difuminado {
	opacity: .7;
}

.difuminado:hover {
	opacity: .8;
	box-shadow: (5px 5px 20px white);
}

.final {
	color: white;
}

.menu {
	width: 20px;
}

.tamaño {
	width: 400px;
}

.card-body {
	background-color: darkgrey;
}

.form-label {
	color: white;
	opacity: .9;
}

.form-text {
	color: white;
	opacity: .9;
}

.form-check-label {
	color: white;
	opacity: .9;
}

.listas {
	background-color: grey;
}

.partes:hover {
	background-color: lightblue;
}

.info {
	color: lightblue;
}

.lista_categoria {
	color: white;
}

.posicion_categoria:hover {
	filter: drop-shadow(0 0 1px white);
}

.blue {
	color: white;
}

/* Esta funcion esta sacada de interner de la siguiente pagina: https://codepen.io/cesarchoqueskater/pen/NBJQdw e insipirada en un video de instagram*/
.motocicletaTran {
	width: 100px;
	animation: slidein 8s infinite;

}

@keyframes slidein {
	from {
		margin-left: 0%;

	}

	to {
		margin-left: 100%;

	}
}